.panel-div {
    width: 33%;
    height: 100%;
    border-style: solid;
    position: absolute;
    background-color: azure;
}

.inner_panel_div {
    margin-left: 2%;
}

#search_div {
    width: 80%;
}

#panel1 {
    margin-left: 0;
}

#panel2 {
    margin-left: 33%;
}

#panel3 {
    margin-left: 66%;
}