<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p2p fileshare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="panel-div" id="panel1">
    <p2>Current Downloads Status</p2> </br>
    <div id="current-downloads">
    </div>
</div>
<div class="panel-div" id="panel2">
    search: <input type="text" id="file_search"> <input type="button" value="search" onclick="searchFile()"> <br/>
    <div id="search-results">

    </div>
</div>
<div class="panel-div" id="panel3"></div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>